# Configuración de Base de Datos PostgreSQL
DB_USER=postgres
DB_PASSWORD=mallasalud_password
DB_NAME=mallasalud_db
DB_PORT=5433

# URL de conexión a la Base de Datos para Prisma ORM
# Conexión local (cuando ejecutas la app o prisma studio directamente en tu máquina):
DATABASE_URL="postgresql://postgres:mallasalud_password@localhost:5433/mallasalud_db?schema=public"